openapi: 3.0.3
info:
  title: Future Frame API Reference
  description: The Futre Frame REST API documentation.
  version: 0.1.3
  contact:
    name: Future Frame Support
    email: support@futureframe.ai
  license:
    name: MIT
    url: https://github.com/futureframeai/ff-openapi/blob/master/LICENSE
servers:
  - url: https://futureframe.ai/api
security:
  - ApiKeyAuth: []
tags:
  - name: API Keys
    description: Endpoints for managing and authenticating API keys.
  - name: Pre-trained Models
    description: Endpoints for retrieving pre-trained models available for fine-tuning.
  - name: Fine-tuning
    description: Endpoints for initiating and managing the fine-tuning jobs.
  - name: Evaluation
    description: Endpoints for evaluating the performance of fine-tuned models on specified datasets.
  - name: Inference
    description: Endpoint for making predictions using fine-tuned models.
  - name: Fine-tuned Models
    description: Endpoints for accessing and managing models that have been fine-tuned.
  - name: Usage
    description: Endpoints for monitoring usage statistics and quotas.
  - name: Health
    description: Endpoints for checking the health and status of the API service.
paths:
  /api-keys:
    post:
      tags:
        - API Keys
      summary: Create API key
      description: Create a new API key
      operationId: create_api_key
      security:
        - BearerAuth: []
      requestBody:
        description: Details for the new API key
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Production API Key
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    example: ff-c0b5011f-2d84-4002-b153-2287b7ca1e94
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /api-keys/{api_key}:
    delete:
      tags:
        - API Keys
      summary: Delete API key
      description: Delete an API key by value
      operationId: delete_api_key
      security:
        - BearerAuth: []
      parameters:
        - name: api_key
          in: path
          required: true
          schema:
            type: string
            example: ff-c0b5011f-2d84-4002-b153-2287b7ca1e94
      responses:
        '204':
          description: API key deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                    example: 204
                    description: HTTP status code
                  message:
                    type: string
                    example: API key deleted successfully
                    description: Success message
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /pretrained-models:
    get:
      tags:
        - Pre-trained Models
      summary: List pre-trained models
      description: Get a list of pre-trained models available for fine-tuning
      operationId: pretrained_models
      security: []
      responses:
        '200':
          description: List of models retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 1
                  models:
                    type: array
                    items:
                      type: object
                      properties:
                        ff_model_id:
                          type: string
                          example: ff_zero
                        created_at:
                          type: string
                          format: date-time
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /finetuning:
    post:
      operationId: create_fine_tuning_job
      tags:
        - Fine-tuning
      description: Upload a CSV file along with a model name to fine-tune a pre-trained model with your training data
      summary: Fine-tune a model
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - model_name
              properties:
                file:
                  type: string
                  format: binary
                  description: The CSV file containing the training data
                model_name:
                  type: string
                  description: The name of the model to be available for inference
                ff_model_id:
                  type: string
                  description: The ID of the pre-trained model to be fine-tuned
      responses:
        '201':
          description: Fine-tuning job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: ID of the created job
                    example: ff-finetuning-job-1
                  model_name:
                    type: string
                    description: The name of the model to be available for inference
                    example: model_name
                  status:
                    type: string
                    example: PENDING
                  Message:
                    type: string
                    example: Fine-tuning job created successfully
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
    get:
      operationId: list_fine_tuning_job
      tags:
        - Fine-tuning
      summary: List fine-tuning jobs
      description: Get a list of fine-tuning jobs
      responses:
        '200':
          description: List of fine-tuning jobs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 1
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        job_id:
                          type: string
                          example: ff-finetuning-job-1
                        model_name:
                          type: string
                          example: model_name
                        status:
                          type: string
                          example: completed
                        created_at:
                          type: string
                          format: date-time
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /finetuning/{job_id}:
    get:
      tags:
        - Fine-tuning
      summary: Check fine-tuning job status
      description: Retrieve the status of a specific fine-tuning job
      operationId: finetuning_results
      parameters:
        - name: job_id
          in: path
          required: true
          description: ID of the job to check
          schema:
            type: string
            example: ff-finetuning-job-1
      responses:
        '200':
          description: Fine-tuning results retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    example: ff-finetuning-job-1
                  model_name:
                    type: string
                    example: model_name
                  ff_model_id:
                    type: string
                    example: ff-zero
                  status:
                    type: string
                    example: completed
                  result:
                    type: object
                    properties:
                      accuracy:
                        type: number
                        format: float
                        example: 0.95
                      auc:
                        type: number
                        format: float
                        example: 0.9
                      precision:
                        type: number
                        format: float
                        example: 0.92
                      recall:
                        type: number
                        format: float
                        example: 0.9
                      f1_score:
                        type: number
                        format: float
                        example: 0.91
        '201':
          description: Fine-tuning job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: ff-finetuning-job-1
                  status:
                    type: string
                    example: PENDING
        '202':
          description: Fine-tuning job running
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: ff-finetuning-job-1
                  status:
                    type: string
                    example: RUNNING
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /evaluation:
    post:
      tags:
        - Evaluation
      operationId: evaluate
      summary: Evaluate a fine-tuned model
      description: Start a new evaluation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - model_id
              properties:
                file:
                  type: string
                  format: binary
                  description: The CSV file containing the evaluation data
                model_name:
                  type: string
                  description: ID of the model to fine-tune
                  example: model_123
      responses:
        '201':
          description: Evaluation job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: ID of the created job
                    example: ff-eval-job-1
                  model_name:
                    type: string
                    description: The name of the model
                    example: model_name
                  status:
                    type: string
                    example: PENDING
                  Message:
                    type: string
                    example: Evaluation job created successfully
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    get:
      operationId: list_eval_job
      tags:
        - Evaluation
      summary: List evaluation jobs
      description: Get a list of evaluation jobs
      responses:
        '200':
          description: List of evaluation jobs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 1
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        job_id:
                          type: string
                          example: ff-eval-job-1
                        model_name:
                          type: string
                          example: model_name
                        status:
                          type: string
                          example: completed
                        created_at:
                          type: string
                          format: date-time
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /evaluation/{job_id}:
    get:
      tags:
        - Evaluation
      summary: Get evaluation results
      description: Get evaluation results by job ID
      operationId: evaluation_results
      parameters:
        - name: job_id
          in: path
          description: ID of the evaluation job
          required: true
          schema:
            type: string
            example: ff-eval-job-1
      responses:
        '200':
          description: Evaluation results retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    example: ff-eval-job-1
                  status:
                    type: string
                    example: completed
                  result:
                    type: object
                    properties:
                      accuracy:
                        type: number
                        format: float
                        example: 0.95
                      precision:
                        type: number
                        format: float
                        example: 0.92
                      recall:
                        type: number
                        format: float
                        example: 0.9
                      f1_score:
                        type: number
                        format: float
                        example: 0.91
        '201':
          description: Evaluation job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: ff-eval-job-1
                  status:
                    type: string
                    example: PENDING
        '202':
          description: Evaluation job running
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: ff-eval-job-1
                  status:
                    type: string
                    example: RUNNING
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /inference/{model_name}:
    post:
      tags:
        - Inference
      description: Make predictions with fine-tuned model
      summary: Make predictions
      operationId: predictions
      parameters:
        - in: path
          name: model_name
          description: Name of model
          required: true
          schema:
            type: string
      requestBody:
        description: Input data format is defined by each model
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Output data format is defined by each model
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /models:
    get:
      tags:
        - Fine-tuned Models
      summary: List fine-tuned models
      description: Get a list of fine-tuned models
      operationId: list_models
      responses:
        '200':
          description: List of models retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 1
                  models:
                    type: array
                    items:
                      type: object
                      properties:
                        model_name:
                          type: string
                          example: model_name
                        status:
                          type: string
                          example: completed
                        created_at:
                          type: string
                          format: date-time
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /models/{model_name}:
    get:
      tags:
        - Fine-tuned Models
      summary: Fine-tuned model details
      description: Get a fine-tuned model details by ID
      operationId: model_details
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            type: string
            example: model_name
      responses:
        '200':
          description: Model retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  model_name:
                    type: string
                  status:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      tags:
        - Fine-tuned Models
      summary: Delete fine-tuned model
      description: Delete a fine-tuned model by ID
      operationId: delete_model
      parameters:
        - name: model_name
          in: path
          required: true
          schema:
            type: string
            example: model_name
      responses:
        '204':
          description: Model deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: integer
                    example: 204
                    description: HTTP status code
                  message:
                    type: string
                    example: Model deleted successfully
                    description: Success message
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /usage:
    get:
      tags:
        - Usage
      summary: Usage information
      description: Get usage information
      operationId: usage
      responses:
        '200':
          description: Usage information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_credits:
                    type: integer
                    example: 100000
                  used_credits:
                    type: integer
                    example: 15000
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /health:
    get:
      summary: Check API Health
      description: Returns the health status of the API
      operationId: health
      security: []
      tags:
        - Health
      responses:
        '200':
          description: Successful response indicating the API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                    description: HTTP status code
                  message:
                    type: string
                    example: OK
                    description: A message indicating the health status
                required:
                  - code
                  - message
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: api_key
      in: query
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    '400':
      description: Invalid input parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
                description: HTTP status code
              message:
                type: string
                example: Bad request
                description: A message indicating the error
            required:
              - code
              - message
    '403':
      description: Access forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 403
                description: HTTP status code
              message:
                type: string
                example: Unauthorized
                description: A message indicating the error
            required:
              - code
              - message
    '404':
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 404
                description: HTTP status code
              message:
                type: string
                example: Resource not found
                description: A message indicating the error
            required:
              - code
              - message
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 500
                description: HTTP status code
              message:
                type: string
                example: Internal server error
                description: A message indicating the error
            required:
              - code
              - message
