openapi: 3.0.0
info:
  title: Future Frame API
  description: The Futre Frame REST API. Please see https://futureframe.ai/docs/api-reference for more details.
  version: 0.1.0
  termsOfService: https://futureframe.ai/policies/terms-of-use
  contact:
    name: Future Frame Support
    url: https://futureframe.ai/contact
    email: support@futureframe.ai
  license:
    name: MIT
    url: https://github.com/futureframeai/ff-openapi/blob/master/LICENSE
servers:
  - url: https://futureframe.ai/api
security: []
tags:
  - name: Fine-tuning
    description: Fine-tuning description
paths:
  /finetuning:
    post:
      operationId: createFineTuningJob
      tags:
        - Fine-tuning
      summary: Launch a fine-tuning job
      description: Start a new fine-tuning job with the specified parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                modelId:
                  type: string
                  description: ID of the model to fine-tune
                  example: model_123
                datasetId:
                  type: string
                  description: ID of the dataset to use for fine-tuning
                  example: dataset_456
                hyperparameters:
                  type: object
                  description: Hyperparameters for the fine-tuning job
                  additionalProperties:
                    type: string
                  example:
                    learningRate: '0.001'
                    batchSize: '32'
      responses:
        '201':
          description: Fine-tuning job started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: ID of the created job
                    example: job_789
        '404':
          description: Resource not found
          content: &ref_2
            application/json:
              schema:
                type: object
                required: &ref_0
                  - code
                  - message
                properties: &ref_1
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
        '500':
          description: Internal server error
          content: &ref_3
            application/json:
              schema:
                type: object
                required: *ref_0
                properties: *ref_1
components:
  responses:
    '404':
      description: Resource not found
      content: *ref_2
    '500':
      description: Internal server error
      content: *ref_3
    NotFound:
      description: Resource not found
      content: *ref_2
  schemas:
    error:
      type: object
      required: *ref_0
      properties: *ref_1
    Error:
      type: object
      required: *ref_0
      properties: *ref_1
